<div class="modal fade" id="newTodo" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Todo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="newTodoForm" *ngIf="!apiMessage">
          <form (ngSubmit)="addNewTodo(newTodoForm)" #newTodoForm="ngForm">
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" ngModel
                     class="form-control" #newTodoTitle="ngModel"
                     name="title" id="title" required>
              <div [hidden]="newTodoTitle.valid || newTodoTitle.pristine"
                   class="alert alert-danger">
                Title is required
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <input ngModel class="form-control" #newTodoDesc="ngModel"
                     name="description" id="description" required/>
              <div [hidden]="newTodoDesc.valid || newTodoDesc.pristine"
                   class="alert alert-danger">
                Description is required
              </div>
            </div>
            <button type="submit"
                    [disabled]="!newTodoForm.form.valid || !newTodoForm.form.dirty"
                    id="newTodoSubmitBtn"
                    class="btn btn-success btn-block">
              Submit
            </button>
          </form>
        </div>

        <div style="margin:10px;" *ngIf="apiMessage" align="center" class="alert alert-success" role="alert">
          <strong>{{apiMessage}}</strong>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editTodo" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Todo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div align="center" class="EditTodoBox" *ngIf="!apiMessage">
          <form (ngSubmit)="editTodo(editTodoForm)" #editTodoForm="ngForm">
            <div class="form-group">
              <label for="todoTitle">Todo:</label>
              <input type="text" [ngModel]="editedTodo.title" #editedTodoTitle="ngModel" class="form-control"
                     name="todoTitle" id="todoTitle" required/>
              <div [hidden]="editedTodoTitle.valid || editedTodoTitle.pristine"
                   class="alert alert-danger">
                Todo is required
              </div>
            </div>
            <div class="form-group">
              <label for="todoDesc">Description:</label>
              <input type="text" [ngModel]="editedTodo.description" #editedTodoDesc="ngModel"
                     class="form-control" name="todoDesc" id="todoDesc" required/>
              <div [hidden]="editedTodoDesc.valid || editedTodoDesc.pristine"
                   class="alert alert-danger">
                Description is required
              </div>
            </div>
            <button type="submit" [disabled]="!editTodoForm.form.valid || !editTodoForm.form.dirty"
                    class="btn btn-success btn-block">Submit
            </button>
          </form>
        </div>
        <div style="margin:10px;" *ngIf="apiMessage" align="center" class="alert alert-success" role="alert">
          <strong>{{apiMessage}}</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteTodo" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Todo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div *ngIf="!apiMessage" align="center" class="alert alert-danger" role="alert">
          <p>Are you sure want to delete this todo?</p>
          <strong>{{todoToDelete.title}}</strong>
        </div>

        <div style="margin:10px;" *ngIf="apiMessage" align="center" class="alert alert-success" role="alert">
          <strong>{{todoToDelete.title}}</strong> {{apiMessage}}
        </div>

      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-danger"
                *ngIf="!apiMessage"
                (click)="deleteTodo(todoToDelete)">
          Confirm
        </button>
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <button class="btn btn-primary btn-md" id="newTodoBtn"
          (click)="showAddNewTodoForm()"
          data-toggle="modal"
          data-target="#newTodo">
    New Todo
  </button>


  <table class="table table-striped table-bordered" style="width: 1100px; margin-top: 20px;">

    <thead align="center">
    <th >Title</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>

    <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.title}}</td>
      <td>{{todo.description}}</td>
      <td align="center">
        <p>
          <button class="btn btn-primary btn-xs"
                  (click)="showEditForm(todo)"
                  data-title="Edit"
                  data-toggle="modal"
                  data-target="#editTodo">
            <span class="fas fa-pencil-alt"></span>
          </button>
        </p>
      </td>
      <td align="center">
        <p>
          <button class="btn btn-danger btn-xs"
                  (click)="showDeleteTodo(todo)"
                  data-title="Delete"
                  data-toggle="modal"
                  data-target="#deleteTodo">
            <span class="fas fa-trash-alt"></span>
          </button>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>



